a{
	text-decoration: underline;
	color: #000000;
}

#logobox{
	width: auto;
	height: 60px;
	background-color: #000;
}

/*#logo{
	width: 60px;
	height: 40px;
	background-color: #FFF;
}*/



.table table-striped{
	text-align: center;
	width: 95%;
}

#tr_headline{
	text-decoration: bold;
}

#left{
	background-color: #00FF00;
	width: 200px;
	height: 400px;
}

#right{
	background-color: #0000FF;
	width: 200px;
	height: 400px;
	
}

#login{

}

/*#logodiv{
	width: auto;
	height: 50px;
	background-color: #0000FF;
}*/

/*#farbbalken{
	width: auto;
	/*width: 1200px;*/
	/*height: 80px;
	background-color: #000;


	/*margin: 0 auto; 
}*/

#navi{
	margin-top: -65px;
	
}

h2{
	text-align: center;
}

#table{
	text-align: center;
}

#navbar{
	background-color: #000;
	font-family: sans-serif;

}

a{
	text-decoration: none;
}
body{
	padding-top: 70px;
}

.navbar{
	background-color: #000;
}

.active{
	background-color: ##8b0000;
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #000;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

h5{
	margin-left: 5px;
	font-weight: bold;
}

#eventdetails{
	/*margin-top: 20px;
	/*text-align: center;*/
	border-style: groove;
	border-width: 1px;
	border-color: #000;
	border-radius: 18px;
	margin: 0 auto; 
	width: 450px;
	height: 300px;
	padding-left: 10px;
	padding-top: 10px;

}

#span_details_headline{
	font-weight: bold;
	font-size: 14px;
}

#ul_detailliste{
	list-style-type: none;
}